@import './vars/global';
@import './normalize';
@import './themes/default';
@import './themes/dark';

.app {
    font: var(--font-m);

    //padding: 20px;

    background: var(--bg-color);
    color: var(--primary-color);
    height: 100vh;

    //a {
    //  color: var(--link-color);
    //
    //  &:hover {
    //    color: var(--secondary-color);
    //  }
    //}
}

.content {
    width: 100%;
    height: calc(100vh - var(--nav-bar-height));
    display: flex;
}
