.UIButton {
    cursor: pointer;
    color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.clear {
    padding: 0;
    border: 0;
    background: none;
    outline: none;
    color: var(--inverted-primary-color);
}

.outline {
    border: 1px solid var(--primary-color);
    background: none;
    color: var(--primary-color);
}

.background {
    background-color: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInvert {
    background-color: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.squire {
    padding: 0;
}

.squire.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.squire.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.squire.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}
