@import 'https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap';

:root {
    --font-family-main: "Nunito Sans", sans-serif;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-line-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-line-l) / var(--font-line-l) var(--font-family-main);
    --font-size-xl: 32px;
    --font-line-xl: 40px;
    --font-xl: var(--font-line-xl) / var(--font-line-xl) var(--font-family-main);
    --nav-bar-height: 60px;
    --sidebar-width: 300px;
    --sidebar-width-collpased: 80px;
}
