:root {
    --bg-color: #efefef;
    --inverted-bg-color: #333;
    --primary-color: #050505;
    --secondary-color: #006fff;
    --inverted-primary-color: #1dcf1d;
    --inverted-secondary-color: #049804;
    --default-link-color: #f8581d;
}
